.container{
    display: flex;
    background-color: grey;
    width: 1000px;
    height: 1000px;
    justify-content: space-evenly
}

.left-column {
    background-color: pink;
    width: 200px;
    height: 700px;
    margin-top: 150px;
}

.right-column {
    background-color: aqua;
    width: 200px;
    height: 400px;
}