body {
    margin: 0;
}

.bg{
    display: flex;
    justify-content: center;
    background-color: #F7F7F9;
}

.left-column {
    background-color: white;
    width: 382px;
    height: 823px;
    margin: 239px 0 0 0;
}

.carinblack {
    width: 220px;
    height: 100px;
}

.right-column {
    display: flex;
    background-color: #101010;
    width: 383px;
    height: 515px;
    margin-left: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.right {
    display: flex;
    flex-wrap: wrap;
    width: 950px;

}

.right-column2 {
    display: flex;
    background-color: white;
    width: 478px;
    height: 515px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    background-color: white;
    width: 901px;
    height: 507px;
    margin: 40px 0 150px 40px;
    align-items: center;
    flex-direction: column;

}

.carinwhite {
    height: 200px;
    width: 265px;
}

.bruno {
    height: 100px;
    width: 100px;
}

.fries {
    width: 320px;
    height: 360px;
}

.bottom-info {
    width: 600px;
    text-align: center;
}

h1 {
    
    font-size: 50px;
    font-weight: 500;
}

p {
    color: grey;
    font-size: 20px;
}

h2 {
    font-size: 30px;
    font-weight: 100;
}

.right-column-info, .left-column-info {
    text-align: center;
}

.main-h1, .main-h2 {
    color: white;
}

.fries-left {
    height: 270px;
    width: 250px;
}

.bruno-left {
    margin-left: 270px;
}
